@mixin minHeight {
	min-height: 100vh;
	min-height: 100dvh;
}

.NotesLayout {
	@include minHeight;
	max-width: 1000px;
	margin-inline: auto;

	position: relative;

	&__content {
		@include minHeight;
		display: grid;
		grid-template-rows: auto 1fr auto;
		gap: var(--space-xxl);
	}

	&__header {
		padding-top: var(--space-lg);
		text-align: center;
	}
	&__title {
		font-size: var(--fs-xxl);
		font-weight: var(--fw-bold);
	}

	&__footer {
		padding-block: var(--space-sm);
		text-align: center;
		font-size: var(--fs-sm);
		font-weight: var(--fw-bold);
	}
	&__authorLink {
		font-size: var(--fs-rg);
		color: #886de4;
		&:hover {
			color: #644eae;
			text-decoration: underline;
			font-style: italic;
		}
	}
}
