.NoteFull {
	min-width: 320px;
	min-height: 240px;
	max-width: 640px;
	aspect-ratio: 4/3;
	padding: var(--space-md);
	box-shadow: 0 0 10px 1px var(--color-text-sec);

	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: var(--space-md);

	position: relative;
	z-index: 1000;

	&__backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		width: 100%;
		position: fixed;
		left: 0;
		z-index: 999;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		font-size: var(--fs-lg);
		font-weight: var(--fw-bold);
	}
	&__close {
		color: var(--color-action-wrong);
		font-size: var(--fs-xl);
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__main {
		padding-inline: var(--space-xs);
		display: flex;
		flex-direction: column;
		gap: var(--space-xs);
		overflow-y: auto;

		font-size: var(--fs-rg);
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: var(--space-xxs);

		font-size: var(--fs-sm);
		font-style: italic;
	}

	&--yellow {
		@extend .NoteFull;
		background-color: var(--color-yellow);
	}
	&--green {
		@extend .NoteFull;
		background-color: var(--color-green);
	}
	&--red {
		@extend .NoteFull;
		background-color: var(--color-red);
	}
	&--blue {
		@extend .NoteFull;
		background-color: var(--color-blue);
	}
	&--purple {
		@extend .NoteFull;
		background-color: var(--color-purple);
	}
}
