// Main Colors
$color-bg-main: #d4d4d4;
$color-bg-sec: #dcdcdc;
$color-text: #000;
$color-text-sec: #fff;
$color-shadow: #00000085;

// Action Colors
$color-action-active: #0362df;
$color-action-ok: #2e7d32;
$color-action-wrong: #c02313;

// Notes Colors
$color-yellow: #d3d694;
$color-green: #bbd6b4;
$color-red: #e2b6b5;
$color-blue: #9ec6e3;
$color-purple: #d5cfe2;
